In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [2]:
header = ['customer_id','rating','dates']
df = pd.read_csv('D:/Dixant/CDAC/Machine Learning/LAB GRADED/combined_data_1.txt',sep = ',',names=header)
print(df)

         customer_id  rating       dates
0                 1:     NaN         NaN
1            1488844     3.0  2005-09-06
2             822109     5.0  2005-05-13
3             885013     4.0  2005-10-19
4              30878     4.0  2005-12-26
...              ...     ...         ...
24058258     2591364     2.0  2005-02-16
24058259     1791000     2.0  2005-02-10
24058260      512536     5.0  2005-07-27
24058261      988963     3.0  2005-12-20
24058262     1704416     3.0  2004-06-02

[24058263 rows x 3 columns]

In [3]:
head = ['movie_id','release','Movie']
data1 = pd.read_csv('D:/Dixant/CDAC/Machine Learning/LAB GRADED/movie_titles.csv',encoding='latin-1',names=head)
print(data1)

       movie_id  release                                              Movie
0             1   2003.0                                    Dinosaur Planet
1             2   2004.0                         Isle of Man TT 2004 Review
2             3   1997.0                                          Character
3             4   1994.0                       Paula Abdul's Get Up & Dance
4             5   2004.0                           The Rise and Fall of ECW
...         ...      ...                                                ...
17765     17766   2002.0  Where the Wild Things Are and Other Maurice Se...
17766     17767   2004.0                  Fidel Castro: American Experience
17767     17768   2000.0                                              Epoch
17768     17769   2003.0                                        The Company
17769     17770   2003.0                                       Alien Hunter

[17770 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24058263 entries, 0 to 24058262
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   customer_id  object
 1   rating       float64
 2   dates        object
dtypes: float64(1), object(2)
memory usage: 550.7+ MB

In [5]:
df_nan = pd.DataFrame(pd.isnull(df.rating))
df_nan = df_nan[df_nan['rating'] == True]
df_nan = df_nan.reset_index()

movie_np = []
movie_id = 1

for i,j in zip(df_nan['index'][1:],df_nan['index'][:-1]):
    temp = np.full((1,i-j-1), movie_id)
    movie_np = np.append(movie_np, temp)
    movie_id += 1


last_record = np.full((1,len(df) - df_nan.iloc[-1, 0] - 1),movie_id)
movie_np = np.append(movie_np, last_record)

print('Movie numpy: {}'.format(movie_np))
print('Length: {}'.format(len(movie_np)))

Movie numpy: [1.000e+00 1.000e+00 1.000e+00 ... 4.499e+03 4.499e+03 4.499e+03]
Length: 24053764

In [6]:
df = df[pd.notnull(df['rating'])]

df['movie_id'] = movie_np.astype(int)
df['customer_id'] = df['customer_id'].astype(int)

In [7]:
a1 = df[:8053764]

In [8]:
a2=df[8053764:16107528]

In [9]:
a1.head()

   customer_id  rating       dates  movie_id
1      1488844     3.0  2005-09-06         1
2       822109     5.0  2005-05-13         1
3       885013     4.0  2005-10-19         1
4        30878     4.0  2005-12-26         1
5       823519     3.0  2004-05-03         1

In [10]:
df.shape

(24053764, 4)

In [11]:
A1 = a1.pivot_table(values='rating',index=['movie_id'],columns=['customer_id'])
A1

customer_id,6,7,8,10,25,33,42,59,79,83,...,2649375,2649376,2649378,2649384,2649388,2649401,2649404,2649409,2649426,2649429
movie_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN

In [12]:
A2 = a2.pivot_table(values='rating',index=['movie_id'],columns=['customer_id'])
A2

MemoryError: Unable to allocate 4.96 GiB for an array with shape (1514, 439543) and data type float64

In [ ]:
A = pd.concat([A1,A2])

In [ ]:
A.fillna(0 , inplace=True)
A

In [ ]:
for coloums in A:
    A[coloums].mask(A[coloums] <3 ,0, inplace=True)
    A[coloums].mask(A[coloums] >=3 ,1, inplace=True)
print(A)

In [ ]:
data= A.iloc[1]
data.value_counts()

In [ ]:
csr_sample = csr_matrix(A)
print(csr_sample)

In [ ]:
knn = NearestNeighbors(metric='cosine', n_neighbors=6, n_jobs=-1)
knn.fit(csr_sample)

In [ ]:
dataset_sort_des = a1.sort_values(['customer_id','dates'], ascending=[True,True])
filter1 = dataset_sort_des[dataset_sort_des['customer_id'] == 6].movie_id
filter1 = filter1.tolist()
filter1 = filter1[:20]
print("Items liked by user: ",filter1)

In [ ]:
distances1=[]
indices1=[]
for i in filter1:
    distances , indices = knn.kneighbors(csr_sample[i],n_neighbors=3) 
    indices = indices.flatten()
    indices= indices[1:]
    indices1.extend(indices)
print("Items to be recommended: ",indices1)

In [ ]:
l1=[]
for i in indices1:
    mask=data1['movie_id'].values==i
    a=data1[mask]['Movie'].tolist()
    l1.append(a[0])

In [ ]:
print("Items to be recommended: ",l1)